{% extends 'base.html.twig' %}

{% block title %}Knowledge - Accueil{% endblock %}

{% block home %}
<div class="container">
    <h1>Thèmes :</h1>

    <div class="row gap-4">
        <h2>
    </div>
</div>
{% endblock %}
