{% extends 'base.html.twig' %}

{% block title %}Knowledge - {{ theme.name }}{% endblock %}

{% block cursus %}
<div class="container">

    <h1 class="margin-top-3 margin-bottom-3">
        Nos Cursus pour le Thème : {{ theme.name }}
    </h1>

    <div class="row">
        {% for cursus in cursus %}
        <div class="col-md-6 mb-3">
            <a href="#"
            class="card text-center padding-top-10 padding-bottom-10 background-darkblue background-blue-hov decoration-none">
                <div class="card-body text-center">
                    <h5>{{ cursus.name }}</h5>
                    <p>{{ cursus.price }} €</p>
                </div>
            </a>
        </div>
        {% else %}
        <p>Aucun cursus disponible pour ce thème.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}